################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Code2Night/DesignTimeBuild/.dtbcache.v2
/.vs/Code2Night/FileContentIndex/380b324b-b8f7-458d-94d2-301016c8a7e0.vsidx
/.vs/Code2Night/FileContentIndex/e2d931d1-3cf5-4372-a364-c56b2f244f15.vsidx
/.vs/Code2Night/FileContentIndex/b08b9bdd-ccac-4312-89aa-9b1c3289800f.vsidx
